@using Microsoft.CodeAnalysis
@using MusicStoreInfo.Domain.Entities
@model IEnumerable<MusicStoreInfo.Domain.Entities.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Продукты</h1>

<p>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Создать</a>
    }
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <th>
                    Id
            </th>
            }
            <th>
                Обложка
            </th>
            <th>
                Альбом
            </th>
            <th>
                Магазин
            </th>
            <th>
                Район
            </th>
            <th>
                Город
            </th>           
            <th>
                Группа
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @if (User.IsInRole("Manager") || User.IsInRole("Admin")){
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                }
            <td>
                    <img src="@("~/image/" + item.Album.ImagePath)" asp-append-version="true" width="50px" height="50px" class="rounded-circle" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.District.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.District.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Изменить</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Подробнее</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                    }
                    else
                    {
                        @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Подробнее</a> *@
                        @* <a id="add-to-cart" asp-action="AddInShoppingCart" asp-route-storeId="@item.StoreId" asp-route-albumId="@item.AlbumId" asp-route-quantity="1" class="btn btn-primary btn-sm">Добавить в корзину</a> *@

                        <div class="container">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm details-button">Подробнее</a>
                            <a class="add-to-cart btn btn-primary btn-sm" data-store-id="@item.StoreId" data-album-id="@item.AlbumId">Добавить в корзину</a>
                            <div class="quantity-container" style="display: none;">
                                <button class="btn btn-outline-secondary btn-sm minus-button" type="button" data-store-id="@item.StoreId" data-album-id="@item.AlbumId">-</button>
                                <span class="quantity">1</span>
                                <button class="btn btn-outline-secondary btn-sm plus-button" type="button" data-store-id="@item.StoreId" data-album-id="@item.AlbumId">+</button>
                            </div>
                        </div>



                    }
            </td>
        </tr>
}
    </tbody>
</table>


<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">


            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-page="1">Первая</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">Пред.</a>
                </li>
            }


            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }
        </ul>
    }

    @if (pager.CurrentPage < pager.TotalPages)
    {
        <li class="page-item">
            <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">След.</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-page="@(pager.TotalPages)">Послед.</a>
        </li>
    }

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            var button = $(this);
            var storeId = button.data('store-id');
            var albumId = button.data('album-id');
            var quantity = button.closest('.container').find('.quantity').text();

            console.log('Store ID:', storeId);
            console.log('Album ID:', albumId);
            console.log('Quantity:', quantity);

            $.ajax({
                url: '/Product/AddInShoppingCart',
                type: 'POST',
                data: {
                    storeId: storeId,
                    albumId: albumId,
                    quantity: quantity
                },
                success: function (response) {
                    if (response.success) {
                        console.log('Product added to cart successfully');
                        button.hide(); // Скрываем кнопку
                        button.closest('.container').find('.quantity-container').show(); // Показываем счетчик
                    } else {
                        console.error('Ошибка добавления в корзину:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Ошибка добавления в корзину:', error);
                    console.error('Response:', xhr.responseText);
                }
            });
        });

        $('.minus-button').click(function () {
            var button = $(this);
            var quantitySpan = button.siblings('.quantity');
            var value = parseInt(quantitySpan.text());
            var storeId = button.data('store-id');
            var albumId = button.data('album-id');

            if (value > 1) {
                quantitySpan.text(value - 1);
                updateCart(storeId, albumId, value - 1);
            } else {
                button.closest('.container').find('.add-to-cart').show();
                button.parent('.quantity-container').hide();
                updateCart(storeId, albumId, 0);
            }
        });

        $('.plus-button').click(function () {
            var button = $(this);
            var quantitySpan = button.siblings('.quantity');
            var value = parseInt(quantitySpan.text());
            var storeId = button.data('store-id');
            var albumId = button.data('album-id');

            quantitySpan.text(value + 1);
            updateCart(storeId, albumId, value + 1);
        });

        function updateCart(storeId, albumId, quantity) {
            console.log('Updating cart:', storeId, albumId, quantity);

            $.ajax({
                url: '/Product/AddInShoppingCart',
                type: 'POST',
                data: {
                    storeId: storeId,
                    albumId: albumId,
                    quantity: quantity
                },
                success: function (response) {
                    if (response.success) {
                        console.log('Cart updated successfully');
                    } else {
                        console.error('Ошибка обновления корзины:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Ошибка обновления корзины:', error);
                    console.error('Response:', xhr.responseText);
                }
            });
        }
    });
</script>

<head>
    <meta charset="utf-8" />
    <title>Пример страницы</title>
    <style>
        .container {
            display: flex;
            align-items: center;
        }

        .quantity-container {
            display: flex;
            align-items: center;
        }

            .quantity-container button,
            .quantity-container span {
                margin: 0 5px;
            }

        .details-button {
            margin-right: 10px; /* Или любое другое значение отступа */
        }
    </style>
</head>