@model IEnumerable<MusicStoreInfo.Domain.Entities.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Исполнители</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Возраст
            </th>
            <th>
                Гендер
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                 <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Изменить</a>
                 <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Подробнее</a>
                 <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
