@model MusicStoreInfo.Api.Models.AlbumViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности</h1>

<div>
    <h4>Альбом</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Обложка альбома
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/image/" + Model.Album.ImagePath)" asp-append-version="true" width="200px" height="200px" />
        </dd>
        <dt class = "col-sm-2">
            Название альбома
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.Name)
        </dd>
        <dt class = "col-sm-2">
            Длительность
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.Duration)
        </dd>
        <dt class = "col-sm-2">
            Дата выхода
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.ReleaseDate.Date)
        </dd>
        <dt class = "col-sm-2">
            Количество песен
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.SongsCount)
        </dd>       
        <dt class = "col-sm-2">
            Исполнитель
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.Group.Name)
        </dd>
        <dt class = "col-sm-2">
            Тип прослушивателя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.ListenerType.Name)
        </dd>
        <dt class = "col-sm-2">
            Компания издатель
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.Company.Name)
        </dd>
    </dl>
</div>

<h1 class="text-center">Песни из альбома</h1>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th>
                Длительность
            </th>
            <th>
                Альбом
            </th>
        </tr>
        <tr>
            @foreach(var item in Model.Songs)
            {
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Duration
                </td>
                <td>
                    @item.Album.Name
                </td>
            }
        </tr>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Album.Id">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
