@using MusicStoreInfo.Domain.Entities
@model IEnumerable<MusicStoreInfo.Domain.Entities.Album>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Альбомы</h1>

<p>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Создать</a>
    }
</p>
<table class="table table-bordered">
    <thead>
        <tr>           
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th>
                Длительность
            </th>
            <th>
                Дата выхода
            </th>
            <th>
                Количество песен 
            </th>            
            <th>
                Группа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @item.ReleaseDate.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongsCount)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Изменить</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Подробнее</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                    }else{
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Подробнее</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    @if(pager.TotalPages > 0)
    {
       <ul class="pagination justify-content-end">


            @if(pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Album" asp-action="Index" asp-route-page="1">Первая</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Album" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">Пред.</a>
                </li>
            }


            @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Album" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }
        </ul>   
    }

    @if(pager.CurrentPage < pager.TotalPages)
    {
        <li class="page-item">
            <a class="page-link" asp-controller="Album" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">След.</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-controller="Album" asp-action="Index" asp-route-page="@(pager.TotalPages)">Послед.</a>
        </li>
    }

</div>
