@using MusicStoreInfo.Domain.Entities
@model IEnumerable<MusicStoreInfo.Domain.Entities.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Города</h1>

<p>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Создать</a>
    }
</p>

<form method="get" action="@Url.Action("Index")" class="form-inline mb-3 d-flex">
    <input type="text" name="searchString" class="form-control mr-2" placeholder="Поиск по названиям" value="@ViewBag.CurrentFilter">
    <button type="submit" class="btn btn-outline-success search-button">Поиск</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Изменить</a>
                        <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Подробнее</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Удалить</a>
                    }else{
                    <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Подробнее</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>


<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-page="1">Первая</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">Пред.</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">След.</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-page="@(pager.TotalPages)">Послед.</a>
                </li>
            }
        </ul>
    }
</div>