@model MusicStoreInfo.Domain.Entities.ShoppingCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Корзина</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
               Название
            </th>
            <th>
                Цена
            </th>
            <th>
                Магазин
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCartProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Album.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Store.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="PayForTheProduct" asp-route-storeId="@item.Product.StoreId" asp-route-albumId="@item.Product.AlbumId" class="btn btn-primary btn-sm">Оплатить</a>
                    <a asp-action="DeleteFromShoppingCart" asp-route-storeId="@item.Product.StoreId" asp-route-albumId="@item.Product.AlbumId" class="btn btn-danger btn-sm">Удалить из корзины</a>
                </td>
            </tr>
        }
    </tbody>
</table>
